@using CarInsuranceQuoteMVCApp.ViewModels
@model List<QuoteVm>

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-8 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Customer Quotes</h5>
        </div>
        <div class="card-body">
            <div class="row font-weight-bold mb-3">
                <div class="col-1">ID</div>
                <div class="col-2">First Name</div>
                <div class="col-2">Last Name</div>
                <div class="col-3">Email Address</div>
                <div class="col-2">Quote</div>
                <div class="col-2 text-center">Cancel</div>
            </div>
            @foreach (var quote in Model)
            {
                using (Html.BeginForm("Unsubscribe", "Admin", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="row mb-3">
                        <div class="col-1">
                            <input type="text" name="quoteID" class="border-0 font-weight-bold" value="@quote.QuoteID" />
                        </div>
                        <div class="col-2">
                            @quote.FirstName
                        </div>
                        <div class="col-2">
                            @quote.LastName
                        </div>
                        <div class="col-3">
                            @quote.EmailAddress
                        </div>
                        <div class="col-2">
                            $@string.Format("{0:0.00}", quote.QuoteTotal)
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-danger btn-block">Cancel</button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>