@using CarInsuranceQuoteMVCApp.ViewModels
@model List<QuoteVm>

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-8 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Customer Quotes</h5>
        </div>
        <div class="card-body">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col">Quote ID</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Quote Total</th>
                        <th scope="col" class="text-center">Cancel</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var quote in Model)
                    {
                        using (Html.BeginForm("Unsubscribe", "Admin", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <tr>
                                <th scope="row">@quote.QuoteID</th>
                                <td>@quote.FirstName</td>
                                <td>@quote.LastName</td>
                                <td>@quote.EmailAddress</td>
                                <td>$@string.Format("{0:0.00}", quote.QuoteTotal)</td>
                                <td><button type="submit" class="btn btn-danger btn-block">Cancel</button></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

